@import '../../../sass/variables';
@import '../../../sass/mixins';

#btn-menu {
  cursor: pointer;
  position: relative;
  z-index: 110;
  margin-top: 0.2rem;

  @include mq(large) {
    display: none;
  }
}
