.header {
  background-color: var(--clr-secondary-100);
  color: var(--clr-secondary-500);

  .nav {
    display: flex;
  }
}

/* Tablet portrait and larger */
@media only screen and (min-width: 37.5em) {
  .links {
    display: flex;

    & .link {
      position: relative;
      font-size: var(--fz-300);
      color: var(--clr-secondary-100);
    }
  }
}
