@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  //Example: How to call the variables?
  background-color: var(--clr-secondary-100);
  font-size: var(--fz-small-200);
  font-family: 'Kumbh Sans', sans-serif;
}
