@import './mixins';
$colors: (
  primary: (
    200: #ffede0,
    400: #ff7d1a,
  ),
  secondary: (
    100: #ffffff,
    200: #f7f8fd,
    300: #b6bcc8,
    400: #68707d,
    500: #1d2026,
    800: #000000,
  ),
);


$font-sizes: (
  small: (
    100: 0.75rem,
    //company title
    200: 0.9375rem,
    //text
    300: 1.125rem,
    // navigation
    400: 1.75rem,
    //product title - price
  ),
  large: (
    100: 0.8125rem,
    //company title
    200: 1rem,
    //text
    300: 0.9375rem,
    // navigation
    400: 2.75rem,
    //product title - price
  ),
);

$font-weights: (
  400: 400,
  700: 700,
);

$breakpoints: (
  small: 36rem,
  medium: 48rem,
  large: 62em,
);



:root {
  // Colors $color: primary, secondary , $shades = map() need to loop, $shade: 100, 
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --clr-#{$color}-#{$shade}: #{$value};  
    }
  }

  // font-sizes
  @each $screen, $sizes in $font-sizes {
    @if $screen == small {
      @each $size, $value in $sizes {
        --fz-#{$size}: #{$value};
      }
    } @else {
      //mixin
      @include mq($screen) {
        @each $size, $value in $sizes {
          --fz-#{$size}: #{$value};
        }
      }
    }
  }
}
