@import '../../../sass/variables';
@import '../../../sass/mixins';

main.product-overview {
  padding-bottom: 3rem;

  @include mq(medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.button-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 592px;
  margin: 0 auto;

  @include mq(medium) {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    max-width: 472px;
  }

  .item-counter {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-secondary-200);
    padding: 1em;
    flex: 0.5;
  }

  .counter-number {
    font-weight: 700;
  }

  .cart-button {
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color: var(--clr-primary-400);
    color: var(--clr-secondary-100);
    padding: 1em;
    box-shadow: 0px 20px 50px -20px #ff7e1b;
    font-weight: bold;

    @include mq(medium) {
      flex: 1;
    }
  }
}
