@import "../../sass/mixins";

.carousel {
  width: min(100%, 560px);
  margin: 0 auto;
  position: relative;
  margin-top: 0.5rem;
  overflow: hidden;
  transition: transform 0.4s;
}

.carousel-images {
  white-space: nowrap;
  transition: transform 1.2s;
}

.carousel-images picture {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-carousel {
  @include btn-carousel(1rem);

  &.show {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
}
